<!--
  Generated template for the ContentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar transparent>
      <button ion-button icon-only menuToggle>
          <ion-icon name="menu" style="color:white"></ion-icon>
      </button>
    <!-- <ion-title>Film</ion-title> -->
        <ion-searchbar style="color: white;
        box-shadow: none;" class="bg-style card-background"
              (search) = "search()"
              [(ngModel)]="myInput"
              [showCancelButton]="shouldShowCancel"
              (ionCancel)="onCancel($event)">
      </ion-searchbar>
  </ion-navbar>
  <ion-slides pager autoplay="5000" loop="true" speed="3000">
    <ion-slide *ngFor="let image of ImageArray">
      <img style="width: 100%; height: 270px;" src="{{image.image}}" /> 
    </ion-slide>
  </ion-slides>
</ion-header>


<ion-content padding class="bg-style card-background">
  <h6 style="color:#8c8c8c">
    BEST POPULAR FILMS AND SERIALS
  </h6>
  <ion-scroll scrollbar-x="false" scrollbar-y="false" scrollX="true" style="white-space:nowrap; height:230px; width:100%" full>
    <table>
      <tr>
        <td *ngFor="let image of MostPopular">  
            <ion-item class="bg-style card-background" no-lines>
                <img src="{{image.path}}" style="width:120px; height:155px;" (click)="viewDetail(image)"/>  
                <h4 style="color:white;width:120px;">{{image.title}}</h4>
                <p style="padding-top:5px">
                    <ion-icon name="thumbs-up" class="like" style="width:50%; padding-left:5px">&nbsp;5&nbsp;</ion-icon>&nbsp;&nbsp;&nbsp;
                    <ion-icon name="chatboxes" class="like" style="width:50%">&nbsp;2&nbsp;</ion-icon>
                </p>
            </ion-item>
        </td>
      </tr>
    </table>
  </ion-scroll>
    <ion-scroll scrollbar-x="false" scrollbar-y="false" scrollX="true" style="white-space:nowrap; height:80px; width:100%" full>
    <table>
      <tr>
          <td>
              <button ion-button style="color:#8c8c8c" (click)="filmCategory(1)" clear>ACTION</button>
          </td>
          <td>
            <button ion-button style="color:#8c8c8c" (click)="filmCategory(7)" clear>ANIMATION</button>
          </td>
          <td>
            <button ion-button style="color:#8c8c8c" (click)="filmCategory(4)" clear>FICTION</button>
          </td>
          <td>
              <button ion-button style="color:#8c8c8c" (click)="filmCategory(3)" clear>DRAMA</button>
          </td>
          <td>
              <button ion-button style="color:#8c8c8c" (click)="filmCategory(2)" clear>HORROR</button>
          </td>
      </tr>
    </table>
  </ion-scroll>  
  <ion-scroll scrollbar-x="false" scrollbar-y="false" scrollX="true" style="white-space:nowrap; height:230px; width:100%" full>
      <table>
        <tr>
          <td *ngFor="let image of CategoryArray">  
              <ion-item class="bg-style card-background" no-lines>
                  <img src="{{image.path}}" style="width:120px; height:155px;" (click)="viewDetail(image)" />  
                  <h4 style="color:white;width:120px;">{{image.title}}</h4>
                  <p style="padding-top:5px">
                      <ion-icon name="thumbs-up" class="like" style="width:50%; padding-left:5px">&nbsp;5&nbsp;</ion-icon>&nbsp;&nbsp;&nbsp;
                      <ion-icon name="chatboxes" class="like" style="width:50%">&nbsp;2&nbsp;</ion-icon>
                  </p>
              </ion-item>
          </td>
        </tr>
      </table>
    </ion-scroll>   
</ion-content>
