page-detail {
    .container {
        position: relative;
    }
    
    .bottomright {
        position: absolute;
        bottom: 50px;
        right: 1px;
        font-size: 50px;
    }
    
    img { 
        opacity: 0.8;
    }

    .img {
        position: relative;
        .gradient {
            position: absolute;
            top: 0;
            background: linear-gradient(to top, rgba(38,40,51,1) 0%, rgba(255,255,255,0) 90%);
            height: 100%;
            width: 100%;
        }
    }


    .toolbar-background {
        background-color: transparent;
      }

      .my-width{
		width:600px;
    }
    
    .filmButton {
        background-color: #65BFA6; /* Green */
        border: none;
        color: white;
        padding: 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
        width:100%;
    }

    .custom-avatar {
        height: 15vw;
        width: 15vw;
        border: 1px solid #fff;
        border-radius: 50%;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
      }

    

}
