<!--
  Generated template for the ReviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar transparent>
    <ion-title class="bg-style" style="color:white">Film Review</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="bg-style card-background scroll-content">
        <form [formGroup]="slideOneForm" #form="ngForm" (ngSubmit)="writeReview(form)" novalidate>                 
            <ion-list no-line>
            <ion-row>
        <ion-col class="review" col-3 offset-1>Rating:</ion-col>
        <ion-col col-8> 
            <rating [leitura]="false" (ionClick)="log($event)"></rating>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="review" col-3 offset-1>Title:</ion-col>
        <ion-col col-8> 
            <ion-input type="text" name="title" [(ngModel)]="title"  formControlName="title" [class.invalid]="!slideOneForm.controls.title.valid && (slideOneForm.controls.title.dirty || submitAttempt)" style="border:none;color:white;font-size:22px"></ion-input>            
        </ion-col>
    </ion-row>
    <ion-item  *ngIf="!slideOneForm.controls.title.valid  && (slideOneForm.controls.title.dirty || submitAttempt)">
        <p>Please enter a valid title.</p>
      </ion-item> 
    <ion-row>
        <ion-col class="review" col-3 offset-1>Review:</ion-col>
        <ion-col col-8> 
            <ion-textarea type="text" name="review" [(ngModel)]="review"  formControlName="review" [class.invalid]="!slideOneForm.controls.review.valid && (slideOneForm.controls.review.dirty || submitAttempt)" rows="4" maxLength="200" style="border:none;color:white;font-size:22px"></ion-textarea>            
        </ion-col>
    </ion-row>
    <ion-item  *ngIf="!slideOneForm.controls.review.valid  && (slideOneForm.controls.review.dirty || submitAttempt)">
        <p>Please enter a valid review.</p>
      </ion-item> 
    </ion-list>
    <ion-row>
            <ion-col col-6>
                <button ion-button type="submit" class="button button3">SEND</button>
            </ion-col>
            <ion-col col-6>
                <button ion-button (click)="resetForm()" class="button2 button3">RESET</button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
