page-barcode {


  input, select, textarea{
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
  }

  .button1{
    border-radius: 18px;
    width: 280px;
    text-align: center;
  }

  .qrCode{
    width: 300px;
    height: 300px;
    text-align: center;
    margin-top: 50px;
  }

  .fontStyle{
    color:#8c8c8c;
    font-family:American Typewriter, serif;
  }
}
