page-discount {
    
  .imageStyle{
    width: 110px;
    height: 110px;
    text-align: center;
  }

  .fontStyle2{
    color:white;
    font-family:American Typewriter, serif;
      }

      .button1{
        width: 300px;
        text-align: center;
        left: 0;
        right: 0;
        margin:0 auto;
        margin-top: 10px;
      }
}
